

.b1{
	font-style: italic;
	color: black;
	font-size: 25px;

}


.arriere img{
	width: 100%;
    filter: blur(5px);
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
	color: white;
	font-size: 20px;

}
.arriere h1{
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;

    -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 
}

.lien{
	font-size: 25px;
}

  .arriere p {
    color: white;
  	width: 500px;
    position: absolute;
    top: 30%;
    left: 40%;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}

  } 

  .carte{
  	-webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}


  }
.i1{
	-webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 

#r{
	float: right;
}

.q1{
	-webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}

  } 

.fond{
	width: 1500px;
	margin: 0 auto;
	background-color: white;
}

.ab{
	width: 500px;
}
.p1{
  border-radius: 100px;
  width: 100px;
  height: 100px;
  opacity: 0.99;


}
  .gg-boy,
.gg-boy::after,
.gg-boy::before {
    display: block;
    box-sizing: border-box;
    border-radius: 42px
}
.gg-boy {
    position: relative;
    width: 20px;
    height: 20px;
    transform: scale(var(--ggs,1));
    overflow: hidden;
    box-shadow: inset 0 0 0 2px
}
.gg-boy::after,
.gg-boy::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: currentColor;
    box-shadow: 6px 0 0;
    left: 6px;
    top: 10px
}
.gg-boy::after {
    width: 20px;
    height: 20px;
    top: -13px;
    right: -12px;
}